# MacOS system files
.DS_Store
plan.txt

# local data files
*.csv
*_graph.json
data/result/*
analysis/artifak/*
!analysis/artifak/.gitkeep
!data/result/.gitkeep
!data/result/Allbenchmark.csv
.pdf

# Environment files
.venv
.env